html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* pushes footer down */
}

/* https://images.unsplash.com/photo-1518779578993-ec3579fee39f */
header {
  background: url('../images/bg.jpg?w=1200&auto=format') center/cover no-repeat;
}

header .container {
  background: rgba(0,0,0,0.7);
  padding: 2rem;
  border-radius: 10px;
}

.timeline li {
  margin-bottom: 1rem;
}
