body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
}

.center-content {
	text-align: center;
}

.linkedin-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #0077b5;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s;
}

.linkedin-button:hover {
	background-color: #005582;
}